html, body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#main{
    position: absolute;
    margin-top: 3vh;
    height: 50vh;
    margin-left: 2%;
    width: 96%;
}

#main header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    width: 200px;
    border-left: 5px solid black;
}

#header-create{
    border: 2px solid darkcyan;
    margin-top: 4vh;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    width: 16%;
    cursor: pointer;
}

#header-delete{
    border: 2px solid red;
    margin-top: 4vh;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    width: 12%;
    cursor: pointer;
    margin-left: 50px;
}

#header-action{
    border-top: 1px dashed black;
    margin-top: 2vh;
    padding-top: 2vh;
    width: 50%;
    display: none;
}

#header-title{
    border: 2px solid darkslategray;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    width: 48%;
    cursor: pointer;
}

#header-confirm{
    width: 15%;
    padding: 5px;
    background-color: darkred;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-left: 3%;
}

#header-cancel{
    width: 15%;
    padding: 5px;
    background-color: darkslategrey;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-left: 3%;
}

#main-container{
    padding: 3%;
    width: 96%;
    height: 55vh;
    margin-top: 4vh;
    background-color: lightgoldenrodyellow;
    overflow-y: scroll;
}

#main-container>section{
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 180px;
    text-align: center;
    background-color: darkslategrey;
    border-radius: 5px;
    margin-right: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}
#main-container>section div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 66px;
    margin-bottom: 10px;
    color: white;
}
#main-container>section span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: lightslategrey;
}

.slide-delete{
    display: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
}