body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

/* App layout */

.layout-fonts{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    position: absolute;
    left: 0;
    width: 100%;
    height: 10vh;
    top: 0;
    background-color: darkred;
}

#aside{
    position: absolute;
    left: 0;
    width: 20%;
    height: 90vh;
    top: 10vh;
    background-color: lightgoldenrodyellow;
    overflow-y: scroll;
}

#main{
    position: absolute;
}

.left{
    animation: slide-left 0.5s forwards;
}
@keyframes slide-left {
    from { left: -60%; }
    to { left: 20%; }
}
.right{
    animation: slide-right 0.5s forwards;
}
@keyframes slide-right {
    from { left: 100%; }
    to { left: 20%; }
}

/* aside editor layout */
#aside-add{
    display: block;
    width: 90%;
    margin: 10px 5%;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    cursor: pointer;
}

.aside-slide{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 20%;
    width: 75%;
    box-shadow: 2px 2px 1px lightgrey;
    padding: 5px 5%;
}
.aside-slide-box{
    display: block;
    margin-bottom: 10px;
}
.aside-slide-box span{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 5%;
}
.aside-slide-box div{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
.aside-slide-box li{
    font-size: 11px;
}

#aside-new{
    margin: 10px 5%;
    width: 80%;
    padding: 15px 5%;
    background-color: #edf2f9;
}
.aside-new-box{
    display: block;
    margin-bottom: 10px;
}
.aside-new-box span{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 5%;
}
.aside-new-box div{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
.aside-new-box select{
    display: inline-block;
    font-size: 12px;
    padding: 3px 2%;
}
.aside-new-box input{
    display: block;
    font-size: 12px;
    width: 95%;
    padding: 3px 2%;
}
.aside-new-box textarea{
    display: block;
    font-size: 12px;
    width: 95%;
    padding: 3px 2%;
}

.aside-new-button{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    border: 1px solid lightsalmon;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.aside-num{
    display: block;
    font-size: 12px;
    border-top-style: ridge;
    padding-top: 5px;
    text-align: center;
}

/* Slideshow layout */

#content{
    display: block;
    width: 100%;
}

#footer{
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 5vh;
    line-height: 5vh;
}