body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* App layout */

#header{
    position: absolute;
    left: 0;
    width: 100%;
    height: 10vh;
    top: 0;
    background-color: lightblue;
}

#aside{
    position: absolute;
    left: 0;
    width: 20%;
    height: 90vh;
    top: 10vh;
    background-color: lightgoldenrodyellow;
    border-top: 1px solid white;
}

#main{
    position: absolute;
}

.left{
    left: -100%;
    animation: slide 0.5s forwards;
}
.right{
    left: 100%;
    animation: slide 0.5s forwards;
}
@keyframes slide {
    100% { left: 0; }
}

/* Slideshow layout */

#content{
    display: block;
    width: 100%;
}

#footer{
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 6vh;
    line-height: 6vh;
}