@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div{
    font-family: 'Open Sans', sans-serif;
}

p{
    display: block;
}

#main{
    display: block;
    width: 100%;
}

#footer{
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 6vh;
    line-height: 6vh;
}